<br>
<button class="btn btn-danger" type="submit" (click)="deconnexion()">DECONNECTION</button>
<div class="containerGlobal">
    <div class="container-fluid">
    
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    
      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Liste des utilisateurs</h6>
        </div>
        <div class="card-body ml-2">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>NOM COMPLET</th>
                  <th>ROLE</th>
                  <th>EMAIL</th>
                  <th>TELEPHONE</th>
                  <th>ADRESSE</th>
                  <th>STATUT</th>
                  <th>OPERATION</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td scope="row" >{{ user.username }}</td>
                  <td>{{ user.roles }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.tel }}</td>
                  <td>{{ user.adresse }}</td>
                  <td>
                       <!-- block user ACTIVER -->
                    <div *ngIf="user.isActive; else elseBlock">
                      <div class="page-wrapper">
                        <div class="circle-wrapper">
                          <div class="success circle"></div>
                          <div class="icon">
                            <em class="fa fa-check" (click)="onChangeStatut(user.id)"></em>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ng-template #elseBlock>
                      <!-- block user DESACTIVER -->
                      <div class="page-wrapper">
                        <div class="circle-wrapper">
                          <div class="error circle"></div>
                          <div class="icon">
                            <em class="fa fa-times" (click)="onChangeStatut(user.id)"></em>
                          </div>
                        </div>
                      </div>
                    </ng-template>

                    
                  </td>
                  <td>
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    
    </div>
    
    </div>
    